{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        <form method=post>
            {{ form.hidden_tag() }}
            {{ form.first_name.label }}
            {{ form.first_name()}}
            <br>
            {{ form.last_name.label }}
            {{ form.last_name() }}
            <br>
            {{ form.period.label }}
            {{ form.period() }}
            <br>
            {{ form.submit() }}
            <br>
            <p></p>
            {% if value %}
                <p>New Student - {{ value[0] }} {{ value[1] }} added to period {{ value[2] }}</p>
            {% else %}
            {% endif %}
        </form>
    </div>
    <div class="jumbotron">
        <p>Students:</p>
        {% for i in students %}
            <p>{{ i.first_name }} {{ i.last_name }} -  Period: {{ i.period }}</p>
        {% endfor %}
    </div>
{% endblock %}

