{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        <h1>Computer: {{ value.number }}</h1>
        <p>Status: {{ value.status }}</p>
        <p>Operating System: {{ value.os }}</p>
        <br>
        <h3>Students Assigned to Computer {{ value.number }}</h3>
        {% for i in students %}
            {% set link_name = i.first_name  + i.last_name %}
            <p><a href={{ "/student/%s" % link_name }}>{{ i.first_name }} {{ i.last_name }}</a> Period: {{ i.period }}</p>
        {% endfor %}
    </div>
    <div class="jumbotron">
        <form method=post>
            {{ form.hidden_tag() }}
            {{ form.status.label }}
            {{ form.status() }}
            <br>
            {{ form.os.label }}
            {{ form.os() }}
            <br>
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}