{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        <h1>Computer: {{ value.number }}</h1>
        <p>Status: {{ value.status }}</p>
        <p>Operating System: {{ value.os }}</p>
        <br>
        <h3>Students Assigned to Computer {{ value.number }}</h3>
        {% for i in students %}
            {% set link_name = i.first_name  + i.last_name %}
            <p><a href={{ "/student/%s" % link_name }}>{{ i.first_name }} {{ i.last_name }}</a> Period: <a href={{ "/period/{}".format(i.period) }}>{{ i.period }}</a></p>
        {% endfor %}
        <br>
        {% if value.number != "Personal" %}
            <form method=post>
                {{ form.hidden_tag() }}
                {{ form.status.label }}
                {{ form.status() }}
                <br>
                {{ form.os.label }}
                {{ form.os() }}
                <br>
                {{ form.submit() }}
            </form>
        {% endif %}
    </div>
    <!--
    {#
    <div class="jumbotron">
        <h1>Software:</h1>
        <form method=post>
            {{ soft.hidden_tag() }}
            {{ soft.anaconda.label }}
            {{ soft.anaconda() }}
            <br>
            {{ soft.python.label }}
            {{ soft.python() }}
            <br>
            {{ soft.atom.label }}
            {{ soft.atom() }}
            <br>
            {{ soft.submit() }}
        </form>
    </div>
    #}
    -->
{% endblock %}
