{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        <form method=post>
            {{ form.hidden_tag() }}
            {{ form.number.label }}
            {{ form.number()}}
            <br>
            {{ form.status.label }}
            {{ form.status() }}
            <br>
            {{ form.os.label }}
            {{ form.os() }}
            <br>
            {{ form.submit() }}
            <br>
            <p></p>
            {% if value %}
                <p>New Computer {{ value[0] }} Added</p>
            {% elif check%}
                <p>Computer Updated</p>
            {% else %}
            {% endif %}
        </form>
    </div>
    <div class="jumbotron">
        <p>Computers:</p>
        {% for i in computers %}
            <p><a href={{ "/computer/%s" %  i.number }}> Computer: {{ i.number }}</a>, {{ i.status }}, {{ i.os}}</p>
        {% endfor %}
    </div>
{% endblock %}