{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        {% for i in range(1,6) %}
            <h3>Period <a href={{ "/period/%s" % i }}> {{ i }}</a></h3>
            {% for j in value %}
                {% if j.period == i|string %}
                    {% set link_name = j.full_name.replace(" ", "_") %}
                    <p><a href={{ "/student/%s" % link_name }}>{{ j.full_name }}</a> - <a href={{ "/computer/%s" % j.computer.number }}> Computer</a>: {{ j.computer.number }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
