{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        <h3>{{ student.first_name }} {{ student.last_name }}</h3>
        <p>Period: <a href={{ "/period/{}".format(student.period) }}>{{ student.period }}</a></p>
        {% if student.computer == None %}
            <p>Computer: Not Assigned</p>
        {% else %}
            <p>Assigned to <a href={{ "/computer/%s" % student.computer.number }}>Computer: {{ student.computer.number }}</a></p>
        {% endif %}
    </div>
    <div class="jumbotron">
        <form method=post>
            {{ form.hidden_tag() }}
            {{ form.assign.label }}
            {{ form.assign() }}
            {{ form.submit() }}
        </form>
    </div>

{% endblock %}
