{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        <p>Students:</p>
        <form method=post>
            {{ sort.hidden_tag() }}
            {{ sort.sortStudent.label }} {{ sort.sortStudent() }} {{ sort.submit() }}
        </form>
        {% for i in students %}
            {% set link_name = i.full_name.replace(" ", "_") %}
            <p><a href={{ "/student/%s" % link_name}}> {{ i.full_name }}</a> -  Period: {{ i.period }}</p>
        {% endfor %}
    </div>
{% endblock %}

